<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Contacts{{ template "title" . }}</title>
	</head>
	<body>
		{{ template "content" . }}
		<a href="/contacts">List of contacts</a>
	</body>
</html>
