{{ define "title" }}{{ end }}
{{ define "content" -}}
		<h1>Contacts</h1>
		{{ if . -}}
		<ul>
			{{ range . -}}
			<li><a href="/contacts/{{ .Id }}">{{ .FirstName }} {{ .LastName }}</a></li>
			{{- end}}
		</ul>
		{{- else -}}
		<p>No contacts yet.</p>
		{{- end }}
		<div class="nav">
			<a href="/contacts/new">Add contact</a>
		</div>
{{- end }}
